.info{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    border: 1px solid black;
    padding: 5px;
    width: 99.5%;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: white;
}
.info div{
    display: inline-block;
}