.hexagonBefore {
    width: 0;
    border-bottom-width: 30px;
    border-bottom-style: solid;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hexagonMiddle {
    width: 104px;
    height: 60px;
}

.hexagonAfter {
    width: 0;
    border-top-width: 30px;
    border-top-style: solid;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hexagon{
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
    position: relative;
}
.hexagon:after{
    clear: left;
}